<div class="window">
 <div class="admin-login"> 
  <mat-icon>person</mat-icon>
    <form
      [formGroup] = "form"
      (ngSubmit)="onSubmit(form)"
      autocomplete = "off"
    >
      <div class="form-group">
      <label>Id</label>
      <input
        type="text"
        formControlName="id"
        class="form-control"
      />
      
    </div>


      <div class="form-group">
      <label>Mot de Passe</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
      />
     
    </div>


      <div class="form-group" style="margin-top: 10px;">
        <button class="btn btn-primary btn-block" type="submit">
         se connecter 
        </button>
      </div>
     
    </form>
   



 </div>

 </div>
 