   <img src="assets/IMGS/im.jpg" style="width:80%; padding-left: 10%; padding-top: 10%;">

		
	<div class="about1container">
		<h1> éLAB ?</h1>

	    <h2>  <img src="assets/IMGS/lo.png" height="50px" width="50px" class="logo">
	laboratoire érevenal	</h2>
		<strong>Le	éLAB est	 principalement	 destiné	 à	 assurer	 des	 services	 d'analyses	 et	 caractérisation	 dans	 un	 cadre	
		structuré,	 en	 direction	 tout	 d’abord	 des	 chercheurs	et	 doctorants,	mais	également	 des	entreprises	 de la	
		région.	Il	groupe	au	sein	du	même	bâtiment 3	plateformes	scientifiques	et	technologiques	:
		• Plateforme	 Nanosciences	 :	 laboratoires	 de	 Résonance	 Magnétique	 Nucléaire,	 de	 Diffraction	 de	
		Rayons	 X,	 de	Microscopie	 électronique	 à	 Balayage,	 d'Analyses	 Chimiques	 par	 Plasma,	 d'Analyses	
		élémentaires	 et	 d'analyses	 thermiques,	 de	 Fluorescence	 X,	 d'Absorption	 Atomique,	 d'Analyse	 de	
		surfaces...
		• Plateforme	 Biotechnologies	 et	 Agroalimentaire	 :	 Laboratoires	 de	 Chromatographie	 Liquide,	 de	
		Chromatographie	gazeuse,	de	microbiologie et	de	Spectrophotométrie...
		• Plateforme	 Biologie	 Moléculaire	 :	 Laboratoire	 de	 préparation,	 extraction	 et	 mesure	 des	 acides	
		nucléiques,	 Laboratoire	 d'amplification	 en	 chaîne	 par	 polymérase	 (PCR)	 et	 Laboratoire	 de	
		séquençage	des	Acides	Nucléiques.
		Le Le éLAB a	 pour	 objectif	 de	 faire	 accréditer,	 selon	 le	 référentiel	 ISO	 17025,	 les	 analyses	 du	 laboratoire	 de	
		microbiologie.</strong>

