@import "~bootstrap/dist/css/bootstrap.css" ;



p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 600px;
  margin: auto;
  margin-top: 10%;
  padding: 5px;
  border: solid black 2px;
  border-radius: 10px;
  /*background-color: darkgray;*/
  background-image: linear-gradient(to bottom  , darkgray , lightgray );
}

label {
  font-weight: bold;
}

span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: royalblue;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg {
  display: none;
}

.btn-primary {
  background-color: mediumslateblue;
  color: black;
}

.btn-danger {
  background-color: dodgerblue;
  color : black;
}


.aywa{
  float: left;
  margin-left: 100px;
  margin-right: 5px;
}