 <img src="assets/IMGS/chi.jpg" style="width:100% ; height: 100%;" >
     <div class="centered">

      <!--p>BIENVENUE AU CAC</p-->
       
      </div>
       <p style=" font-weight: bold;   font-family: allan ;">  élab est un Centre Technologique et Chimique qui, se basant sur ses laboratoires d´analyse, ses expérimentations avancées et son ingénierie chimique spécialisée, propose des solutions et des services de valeur destinés aux secteurs biologique, chimique et geologique</p>
       

      <hr style="height: 5px; ">
      <h1 style="font-family: 'raleway';  font-weight: bold; font-style: italic; text-align : center; border: #53424c solid " >Actualité Scientifique</h1>
<div class="card-group" id="hello" >

 <div class="card" style="width: 20rem; float: left;">
  <img src="assets/IMGS/opera2.png" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Les hommes préhistoriques collectionnaient les outils de leurs ancêtres</h5>
    <p class="card-text">Apprenez à tailler le silex comme à la Préhistoire  La taille du silex détient une place importante dans la société du Mésolithique, période de la Préhistoire. C’est à cette époque qu’elle bénéficie de l’arrivée d’une nouvelle technique utilisant un percuteur tendre. Découvrez, durant cette vidéo de l’Inrap (Institut national de recherches archéologiques préventives), comment les premiers Hommes façonnaient leurs outils. </p>
    <a href="#" class="btn btn-secondary">Voir Article</a>
  </div>
</div>
<div class="card" style="width: 20rem; float: left;">
  <img src="assets/IMGS/opera.png" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">SpaceX dévoile sa dernière capsule pour transporter les astronautes mi-avril</h5>
    <p class="card-text">SpaceX : revivez le lancement réussi du premier vol habité de Crew Dragon  Pour la première fois de l’histoire de la conquête de l’espace, une société privée a réalisé une mission habitée. SpaceX, fondée il y a seulement moins de 20 ans, a réussi le lancement de son système de transport spatial avec deux astronautes à bord qui sont en vol à destination de la Station spatiale internationale. Le Falcon 9 a décollé et mis en orbite le Crew Dragon sans encombre. </p>
    <a href="#" class="btn btn-secondary">Voir Article</a>
  </div>
</div>



<div class="card" style="width: 20rem; float: left; ">
  <img src="assets/IMGS/opera3.png" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">Guerre en Ukraine : la Russie aurait utilisé du phosphore blanc au nord-ouest de Kyiv</h5>
    <p class="card-text">Igor Kossov, journaliste au Kyiv Independent, rapportait le 23 mars que la municipalité d'Irpin, à quelques kilomètres du nord-ouest de Kyiv, avait subi une attaque au phosphore blanc. Le 24 mars, l'ambassadeur d'Ukraine en France clamait sur le plateau de BFMTV que du phosphore blanc avait été utilisé dans d'autres villes du pays, notamment Izioum, située entre Kharkiv et Donetsk, dans l'Est. L'utilisation du phosphore blanc fait débat. Si l'élément n'est pas interdit ni même considéré comme une arme chimique selon la Chemical Weapon Convention (CWC, convention des armes chimiques), ses effets sur les populations peuvent être particulièrement terribles, le phosphore blanc pouvant être incendiaire et corrosif. </p>
    <a href="#" class="btn btn-secondary">Voir Article</a>
  </div>
</div>

<div class="card" style="width: 20rem; float : left ;">
  <img src="assets/IMGS/opera4.png" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Les Émirats arabes unis testent le prototype de leur premier rover lunaire</h5>
    <p class="card-text">Les rêves spatiaux des Émirats arabes unis sont impatients. Avec un premier court séjour dans l'ISS, une sonde autour de Mars, la Lune est aussi dans le viseur. La UAE Space Agency, l'agence spatiale des Émirats arabes unis, souhaite commencer son exploration du sol sélène en toute modestie avec le rover Rashid, lourd de seulement dix kilos. Sa taille est petite avec près de 53 cm de long et de large. Il comptera deux caméras à haute résolution, dont une thermique. Il aura également une sonde de Langmuir pour étudier le plasma lunaire. Son alimentation électrique se fera avec l'aide de panneaux solaires posés sur les flancs.</p>
    <a href="#" class="btn btn-secondary">Voir Article</a>
  </div>
</div>

</div>
